@import url(reset.css);

/*_______________GENERAL SETUP________________*/
body { font-size:76%; font-family:Arial, Helvetica, sans-serif; background:#00648f; color:#000 }
html { height:100.1%; }
body, td { line-height:120% }
a { color:#035b68 }
a:hover { color:#08aec6 }

p.news-body {
font-size: 15px;
font-weight: bold;
margin-bottom: -1px;
line-height: 150%;
color: #333;
font-weight: normal;
text-align:justify;
}

ol{
font-size: 15px;
font-weight: bold;
margin-bottom: -1px;
line-height: 150%;
color: #333;
font-weight: normal;
}

/*___________________MAIN LAYOUT________________*/
#wrapper { width:970px; margin:0 auto; background:url(../images/main-bg.gif) repeat-y; overflow:hidden }
#headerLogo { width:970px; min-height:496px; height:auto !important; height:496px; background:url(../images/header-logo.jpg) top no-repeat  }
#top { height:165px; width:970px }
#logo { width:302px; height:128px; float:left; margin-left:75px }
.search .inputbox { background:none; border:0; color:#000; width:180px; height:16px; padding:0; margin:18px 30px 0 0; float:right; font-size:0.9em }
#mainLeft { width:588px; float:left; margin:65px 0 0 78px !important; margin:85px 0 0 37px }
#mainFull { width:874px; margin:0 0 0 47px; background:#fbfaeb; overflow:hidden }
#mainFulltop { width:874px; height:50px; width:874px; margin:17px 0 0 47px; background:url(../images/main-bg2-top.gif) top no-repeat }
.padding { padding:0 20px 20px 30px }
#rightColumn { width:240px; float:right; padding-top:25px; margin:210px 55px 0 0 !important; margin:210px 12px 0 0 }
#footer1 { height:85px; width:970px; background:url(../images/footer1.gif) bottom no-repeat;  }
#footer2 { height:85px; width:970px; background:url(../images/footer2.gif) bottom no-repeat;  }
.text { width:940px; padding:5px 0 30px 0; margin:0 auto; height:100px; overflow:hidden; color:#fff }
.text a { color:#fff }
#copyright { width:430px; margin:0; float:left; font-size:0.9em }

/*__________VERTICAL SIDE MENU STYLES________*/
ul.menu { margin:0; padding:0; z-index:50 !important }
ul.menu li { list-style:none; margin:0; padding:0; z-index:50 !important }
ul.menu span { display:block; height:17px; line-height:17px; padding-left:0 }
ul.menu a { display:block; background:url(../images/menu-list.gif) left no-repeat; font-weight:bold; margin:0; text-indent:4px; text-decoration:none; cursor:pointer }
ul.menu a:hover { background:url(../images/menu-list.gif) left no-repeat; color:#fff }
ul.menu ul { margin-left:14px; padding:0 }
ul.menu ul a { text-indent:0; z-index:50 !important; cursor:pointer }
ul.menu ul li a {  text-align:left; margin:0 }
ul.menu li.active li a:hover { cursor:pointer }
ul.menu li li { padding:0; margin:0; z-index:50 !important }
ul.menu li a { padding-left:10px; z-index:50 !important }
ul.menu li.active a { text-decoration: none; z-index:50 !important }
ul.menu li a:hover, ul.menu li.active a:hover, ul.menu li.active li a:hover { text-decoration:underline; color:#fff }
ul.menu li.active li a { background:url(../images/menu-list.gif) left no-repeat; margin-left:5px; text-indent:4px; z-index:50 !important; text-decoration:inherit; font-weight:normal } /* submenu link color */ 

/*_________END VERTICAL SIDE MENU STYLES________*/

/*__________MODULE STYLES________*/

/* DEFAULT MODULES (position- right) */
#rightColumn a { color:#fff }
#rightColumn .moduletable, #rightColumn .moduletable_menu, #rightColumn .moduletable_text { color:#fff; padding:0 0 13px 0; margin:0 0 0 30px; width:240px !important; width:230px }
#rightColumn .moduletable h3, #rightColumn .moduletable_menu h3, #rightColumn .moduletable_text h3 { color:#fee5a4; width:215px; padding:0 0 5px 25px; line-height:32px; font-size:1.2em; font-weight:bold; background:url(../images/mod.gif) no-repeat }
#rightColumn .moduletable div div, #rightColumn .moduletable_menu div div, #rightColumn .moduletable_text div div  { background:none; padding:0 13px;}
.pollstableborder, .poll { text-align:left; width:auto }
td.poll { margin:0; padding:0; font-weight:normal }
#rightColumn .moduletable .bannergroup, #rightColumn .moduletable_text #rightColumn .bannergroup_text { padding:0; margin:0; width:100% }
#rightColumn .moduletable .cont ul, #rightColumn .moduletable_text .cont ul { margin:0; padding:0; border:0 }
#rightColumn .moduletable li { list-style:none; margin:0; padding:0; background:url(../images/list.gif) no-repeat 0 5px; padding-left:12px; }

/*SLIDESHOW (user 5) */ 
.moduletable_flashBanners { padding:0; margin:0 0 20px 0; width:580px; height:300px; background:#000 }
#main .moduletable_flashBanners ul li { background:none }

/*LOGIN MODULE (user 9) */
.moduletable_login { font-size:0.9em; background:none; float:right; width:480px  }
.moduletable_login div div { background:none; padding:0 }
.moduletable_login .cont { padding:15px 45px 0 0 }
.moduletable_login li, .moduletable_login p { list-style:none; float:left; margin:0 7px 0 0; display:inline }
/* Note: If positioned in the left column, remove the margin from these styles */
.moduletable_login ul { margin:0; padding:0 }
#modlgn_remember { width:20px; border:none; margin:15px 0 0 0 }
#form-login .button { margin:15px 0 0 0 }

/*____________END MODULE STYLES______________ */


/*________________GENERAL STYLES_________________*/
.left { float:left; position:relative }
.right { float:right; position:relative }
.clear { clear:both }
.clear-l { clear:left }
.clear-r { clear:right }
.spacer	{ height:10px }
hr { height:1px; color:#D1C0A0 }

/* Use imgRight and imgLeft classes for spacing, alignment, and image borders. */ 
/*Image Styles*/
.contentpaneopen img { margin:5px;  }
.contentpaneopen  { padding:18px 0 0 0; margin:0 9px 0 0 }
.buttonheading a { margin:0 2px }
td.buttonheading img, .hasTip img { border:none; margin:0 6px 0 0; padding: 0;  }
.imgRight { float:right  }
.imgLeft { float:left }

/*End Image Styless*/
.createdate, .small, .modifydate, .pagenavcounter { font-size:0.9em; padding:2px 0; color:#759023 }
table.contentpaneopen, table.blog { width:99% }
table.contentpaneopen fieldset { margin-top:15px; border-bottom:1px dotted #ccc; padding-bottom:7px; width:98% }
.contentpane li { margin-bottom:8px; border-bottom:1px solid #ccc; padding-bottom:5px }
td.contentdescription { padding:8px; }
.componentheading, .contentheading { font-size:1.4em; color:#00597f; padding:0 0 5px 0; margin:0  }
.componentheading { margin:0; padding:0 0 10px 0 }
div .componentheading { background:none; height:20px; line-height:20px; width:100%  }
div .contentpane { width:100% }
.button { width:68px; height:20px; border:none; padding:0; margin:5px 0 0 0; color:#000; font-size:0.9em; background:url(../images/button.png) no-repeat }
a.readon { color:#000; background:url(../images/read.gif) no-repeat; display:block; width:87px; height:21px; padding:4px 0 0 4px; font-weight:bold; text-decoration:none; text-align:center; float:right; font-size:0.9em }
a.readon:hover { color:#000 }
.article_separator { display:block; height:10px; margin:0 auto; width:94%; background:none }
.column_separator { border-left:1px dotted #ccc; padding-left:10px; }
.pagenav  { font-size:1em }
#searchForm .button { margin-left:10px }
.inputbox { border:1px solid #ccc; width:auto }
#modlgn_remember { width:20px; border:none }

h1 { font-size:1.4em }
h2 { font-size:1.3em }
h3 { font-size:1.2em }
h4 { font-size:1.1em }

/*___________________Table View______________*/
td.sectiontableheader { background:#ebe9d0; border-right:1px solid #fbfaeb; padding:5px 10px; font-weight:bold }
td.sectiontableheader a { text-decoration:none }
tr.sectiontableentry1 td { padding:5px }
tr.sectiontableentry2 td { padding:5px }
tr.sectiontableentry2 {  }

/*_______________EXTRAS __________________*/

#upcoming_events_content { padding:0 0 15px 0 }

/* System Standard Messages */
#system-message { color:#000 }
#system-message { margin-bottom: 20px; }
#system-message dd.message ul { list-style:none; background:#C3D2E5 url(../../system/images/notice-info.png) 4px center no-repeat;border-top: 3px solid #DE7A7B; border-bottom: 3px solid #DE7A7B; margin:0px; padding:10px 0 10px 40px; text-indent:0px }
/* System Error Messages */
#system-message dd.error ul { list-style:none; color:#c00; background:#E6C0C0 url(../../system/images/notice-alert.png) 4px center no-repeat; border-top: 3px solid #DE7A7B; border-bottom: 3px solid #DE7A7B; margin:0px; padding:10px 0 10px 40px; text-indent:0px;}
/* System Notice Messages */
#system-message dd.notice ul { list-style:none; color:#c00; background:#EFE7B8 url(../../system/images/notice-note.png) 4px center no-repeat; border-top: 3px solid #F0DC7E; border-bottom: 3px solid #F0DC7E; margin:0px; padding:10px 0 10px 40px; text-indent:0px;}
#system-message .message ul li { list-style:none; background-image:none }

/* -- buttons */
#editor-xtd-buttons { padding:5px }
.button2-left, .button2-right, .button2-left div, .button2-right div { float:left }
.button2-left a, .button2-right a, .button2-left span, .button2-right span { display:block; height:22px; float:left; line-height:22px; color:#000; cursor:pointer } /*font-size */
.button2-left span, .button2-right span {cursor:default; color:#000 }
.button2-left .page a, .button2-right .page a, .button2-left .page span, .button2-right .page span { padding:0 6px }
.page span { color:#000; font-weight:bold }
.button2-left a:hover, .button2-right a:hover { text-decoration:none; color:#0B55C4 }
.button2-left a, .button2-left span { text-decoration:none; padding:0 24px 0 6px }
.button2-right a, .button2-right span { text-decoration:none; padding:0 6px 0 24px }
.button2-left { background: url(../../system/images/j_button2_left.png) no-repeat; float:left; margin-left:5px }
.button2-right { background: url(../../system/images/j_button2_right.png) 100% 0 no-repeat; float:left; margin-left:5px }
.button2-left .image { background: url(../../system/images/j_button2_image.png) 100% 0 no-repeat }
.button2-left .readmore { background: url(../../system/images/j_button2_readmore.png) 100% 0 no-repeat }
.button2-left .pagebreak { background: url(../../system/images/j_button2_pagebreak.png) 100% 0 no-repeat }

/* Component Specific Fixes */
#component-contact table td { padding: 2px 10px }
#component-contact img { border:none; margin:0; padding:0 }